.box {
      height: 100px;
      width: 670px;
      border-style: solid;
      border-color: #ff0000 #0000ff;
}

 #trunks { 
   width: 95px;
   height: 150px;
   top: 520px;
   bottom: 300px;
   right: 445px;
   left: 300px;
   position: absolute;
}
#senzu {
  width: 75px;
  height: 75px;
}